{% extends "base/base.html" %}

{% block title %}
  Member List
{% endblock title %}

{% block content %}

<div class="bg">
	{% if request.user.profile.finance %}
	<div class="container team">
  	<div class="row">
      {% for member in members %}
			{% if not member.is_staff %}
  		<div class="col-lg-3">
				{% if member.profile.photo %}
  			<a href="{% url 'balance:add_balance' username=member.username %}"><img src="{{member.profile.photo.url}}" alt="" class="rounded-circle animated shake" width="140px" height="140px"></a> 
				{% endif %}
  			<h3>{{member.get_full_name|default:member.username}}</h3>
				<h6>Monthly Balance: <br/> {{member.total_balance}}</h6>
				<h6>Additional Balance: <br/> {{member.additional_balance}}</h6>
  			<p><a href="{% url 'balance:add_balance' username=member.username %}" class="btn btn-primary">Add Balance</a></p>
  		</div>
			{% endif %}
  		{% endfor %}
  	</div>
  </div>
     {% else %}
    <h2 class="center">You are not permited!</h2>
    {% endif %}
</div>

  
{% endblock content %}