<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>
</head>
<body>
 
        <div class="row">
                <div class="col-sm">
                  <div class="card">
                    <div class="card-body">
                      <center><h1>Select Date to get Transportation Data</h1> </center>
                    </div>
                  </div>
                </div>
              
              </div>
              
              <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">

                 <center> <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary" style="height:40px;width:120px">Transaction</button> <br>
                        <h3><a href="{%url 'home' %}">Go Home</a></h3>
                </form></center>
              </div>
              <div class="col-md-4"></div>
              </div>
 
 
</body>
</html>