html{
	height: 100%;
}
body{
	/*
		background: url(../images/background/knit.jpg);
		background-size: cover;
		background-position: center;
	*/
		background: #FFFFFF;
		padding: 20px;
	}
	
.bg {
    font-size: 16px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    font-family: 'Montserrat';
    background-image: url("/media/background/signup-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
	padding-top: 40px;
	padding-bottom: 40px; }

.navbar-wrapper{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin-bottom: 60px;
	z-index: 100;
}
.navbar-light .navbar-brand{
	font-family: 'Germania One', cursive;
	font-size: 20px;
}


.navbar-nav{
	font-family: 'Lato', sans-serif;
	color: black;
	font-size: 20px;
}
.form-inline{
	font-family: 'Lato', sans-serif;
}
.nav-link:hover{
	background: aqua;
	color: black;
}
.navbar-wrapper > .container{
	padding-left: 0;
	padding: 0;
}
.navbar-wrapper .navbar .container{
	width: auto;
}

footer{
	margin: 0px 100px;
	margin-top: 60px;
}

.alert{
	margin-top: 30px;
}